<div class="top-header-wrap">
    <div class="top-logo-wrap">
        <div class="top-logo-con">
            <div class="logo">
                <img src="../../assets/image/logo.png" alt="">
            </div>
            <div class="search-wrap">
                <span class="course-or-textbook">课程</span>
                <input type="text" name="searchCon">
                <i class="icon iconfont"></i>
            </div>
            <div class="userinfo-wrap">
                <div class="msg-box"></div>
                <div class="user-option"></div>
                <div class="stu-or-teacher"></div>
            </div>
        </div>
    </div>
    <div class="top-nav-wrap">
        <div class="top-nav-con">

        </div>
    </div>
</div>