<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/font/font_5cho1wkdqgy/iconfont.css">
    <link rel="stylesheet" href="../../lib/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
    <div class="home" teacher>
        <div class="header-wrap"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="swiperImg" src="" alt="">

                </div>
                <div class="swiper-slide">
                    <img class="swiperImg" src="" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="swiperImg" src="" alt="">
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="course-recommendation-wrap">
            <div class="course-recommendation">
                <div class="recommendation-header">
                    <span class="recommendation-header-l">推荐课程</span>
                    <span class="more">
            <a href="#">more...</a>
          </span>
                </div>
                <div class="recommendation-con">
                    <ul class="recom-list">

                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../assets/image/bookCover.png" alt="">
                                <span class="course-name">课程名称课程名称课程名称课程名称课程名称</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            Copyrignt © 2004-2016 哈尔滨工业大学出版社 版权所有 京ICP备11017824号-7
        </div>
    </div>
    <script src="../../lib/require.js" data-main="../../js/Controller/teacher/TeacherHome.js"></script>

</body>

</html>