<table>
  <tr>
    <td>用户名</td>
    <td>
      <input type="text" name="userName" value="{{$value.userName}}">
    </td>
  </tr>
  <tr>
    <td>姓名</td>
    <td>
      <input type="text" name="name" value="{{$value.name}}">
    </td>
  </tr>
  <tr>
    <td>邮箱</td>
    <td>
      <input type="email" name="email" value="{{$value.email}}">
    </td>
  </tr>
  <tr>
    <td>手机</td>
    <td>
      <input type="text" name="telephone" value="{{$value.telephone}}">
    </td>
  </tr>
  <tr>
    <td>课程数</td>
    <td>
      <input type="number" name="courseNum" value="{{$value.courseNum}}">
    </td>
  </tr>
  <tr>
    <td>开课中</td>
    <td>
      <input type="number" name="courseTakingNum" value="{{$value.courseTakingNum}}">
    </td>
  </tr>
  <tr>
    <td>教师身份</td>
    <td>
      <input type="radio" name="teacherIdentity" value="{{$value.teacherIdentity}}">
    </td>
  </tr>
  <tr>
    <td>用户状态</td>
    <td>
      <input type="radio" name="status" value="{{$value.status}}">
    </td>
  </tr>
</table>
