@import '../publicStyle/base.scss';
.header {
    width: 100%;
    height: 160px;
    .top-logo-wrap {
        width: 100%;
        height: 100px;
        background-color: #fff;
        position: relative;
        z-index: 1000;
        .top-logo-con {
            width: 1196px;
            height: 100px;
            margin: 0 auto;
            .logo {
                padding-top: 30px;
                float: left;
                margin-right: 50px;
                img {
                    width: 308px;
                    height: 50px;
                }
            }
            .search-wrap {
                float: left;
                width: 473px;
                margin-top: 35px;
                color: #6a6a6a;
                font-size: 14px;
                position: relative;
                .course-or-textbook {
                    $marginLeft: 10px;
                    float: left;
                    width: 70px;
                    height: 30px;
                    line-height: 30px;
                    background-color: #fbfbfb;
                    border: 1px solid #e0e0e0;
                    border-radius: 2px 0 0 2px;
                    position: relative;
                    cursor: pointer;
                    span {
                        display: inline-block;
                        margin-left: $marginLeft;
                    }
                    i.icon {
                        font-size: 12px;
                    }
                    .choose-search-category {
                        display: none;
                        background-color: #fbfbfb;
                        width: 70px;
                        height: 60px;
                        border: 1px solid #e0e0e0;
                        position: absolute;
                        top: 30px;
                        left: -1px;
                        li {
                            padding-left: $marginLeft;
                        }
                        li:hover {
                            background-color: #e3e3e3;
                        }
                    }
                    &:hover {
                        .choose-search-category {
                            display: block;
                        }
                    }
                }
                .searchCon {
                    width: 386px;
                    height: 30px;
                    border: 1px solid #e0e0e0;
                    border-left: none;
                    border-radius: 0 2px 2px 0;
                    outline: none;
                    padding-left: 14px;
                }
                .searchBtn {
                    font-size: 20px;
                    font-weight: bold;
                    color: #161a24;
                    position: absolute;
                    right: 8px;
                    top: 6px;
                    cursor: pointer;
                }
            }
            .userinfo-wrap {
                float: left;
                width: 265px;
                margin-left: 100px;
                margin-top: 30px;
                color: #6e6e6e;
                .msg-box {
                    width: 28px;
                    height: 28px;
                    margin-top: 10px;
                    position: relative;
                    float: left;
                    cursor: pointer;
                    i.icon {
                        font-size: 28px;
                        color: #393c45;
                    }
                    &::after {
                        content: '1';
                        display: block;
                        width: 22px;
                        height: 22px;
                        background-color: #e7594d;
                        color: #fff;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 22px;
                        position: absolute;
                        top: -8px;
                        right: -8px;
                    }
                }
                .user-option {
                    float: left;
                    width: 125px;
                    height: 42px;
                    margin-left: 40px;
                    cursor: pointer;
                    position: relative;
                    img {
                        width: 42px;
                        height: 42px;
                        border-radius: 50%;
                        float: left;
                    }
                    .user-name {
                        margin-left: 10px;
                        font-size: 14px;
                        height: 42px;
                        line-height: 42px;
                        float: left;
                    }
                    i.icon {
                        font-size: 12px;
                        line-height: 42px;
                        color: #e7594d;
                    }
                    .option-drop-list {
                        @include topHeaderDropList();
                    }
                    &:hover {
                        .option-drop-list {
                            display: block;
                        }
                    }
                }
                .stu-or-teacher {
                    float: left;
                    width: 72px;
                    height: 42px;
                    position: relative;
                    cursor: pointer;
                    span {
                        font-size: 14px;
                        float: left;
                        line-height: 42px;
                    }
                    i.icon {
                        font-size: 12px;
                        line-height: 42px;
                        color: #e7594d;
                    }
                    .choose-drop-list {
                        @include topHeaderDropList();
                    }
                    &:hover {
                        .choose-drop-list {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .top-nav-wrap {
        background-color: #3598db;
        height: 45px;
        position: relative;
        padding-top: 15px;
        &::before {
            content: '';
            width: 40%;
            height: 60px;
            background-color: #e7594d;
            position: absolute;
            top: 0;
            right: 0;
            // z-index: 999;
        }
        .top-nav-con {
            width: 1196px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            .top-nav-con-l {
                float: left;
                width: 367px;
                .nav-list {
                    width: 249px;
                    // margin-top: 15px;
                    float: left;
                    li {
                        float: left;
                        width: 74px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin-right: 9px;
                        border-radius: 2px;
                        a {
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                    li.cur {
                        background-color: #2db0f9;
                    }
                }
                .nav-sep {
                    color: #fff;
                    margin-left: 11px;
                    height: 30px;
                    line-height: 30px;
                }
                .myStudy {
                    font-size: 14px;
                    float: right;
                    height: 30px;
                    line-height: 30px;
                    a {
                        color: #fff;
                    }
                }
            }
            .top-nav-con-r {
                width: 365px;
                height: 30px;
                position: absolute;
                right: 0;
                text-align: right;
                .nav-sep {
                    color: #fff;
                    display: inline-block;
                    margin: 0 20px;
                }
                a {
                    line-height: 30px;
                    z-index: 1000;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 140px;
    background-color: #373a43;
    color: #ebebec;
    text-align: center;
    line-height: 140px;
    font-size: 12px;
}