<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/font/font_5cho1wkdqgy/iconfont.css">
  <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
  <div class="module-detail" student>
    <div class="header-wrap"></div>
    <div class="module-nav">
      <ul class="nav-list">
        <li>
          <a href="#">首页</a>
        </li>
        <li class="sep">></li>
        <li>
          <a href="#">课程</a>
        </li>
        <li class="sep">></li>
        <li>
          <a href="#">一级分类名称</a>
        </li>
        <li class="sep">></li>
        <li>
          <a href="#">二级分类名称</a>
        </li>
        <li class="sep">></li>
        <li class="cur-position">
          <a href="#">课程名称</a>
        </li>
      </ul>
    </div>
    <div class="module-overallInfo">
      <img src="../../assets/image/module_detail_moduleimg.png" alt="">
      <div class="info-con">
        <h3 class="module-title">课程名称课程名称课程名称</h3>
        <div class="invite-code">
          课程邀请码
          <span class="code">000293099</span>
        </div>
        <div class="module-attribute">
          <div class="leftside">
            <div class="first-line">
              <span class="key teacher-key">任课教师</span>
              <span class="value teacher-value">张三 东南大学</span>
            </div>
            <div class="second-line">
              <span class="key authority-key">报名权限</span>
              <span class="value authority-value">所有用户都可以报名</span>
            </div>
          </div>
          <div class="rightside">
            <div class="first-line">
              <span class="key start-date-key">开课时间</span>
              <span class="value start-date-value">2016.09.08-2017.09.10</span>
            </div>
            <div class="second-line">
              <span class="key stu-num-key">学生人数</span>
              <span class="value stu-num-value">200</span>
            </div>
          </div>
        </div>
        <input type="button" value="加入课程" class="addModule">
      </div>
    </div>
    <div class="module-detailed-info-wrap">
      <ul class="l-module-detailed-intro">
        <li class="module-intro">
          <div class="title">课程介绍</div>
          <div class="module-descpition">
            <p>如果对人类历史做一个大致的划分，那么它可被分为古代社会与现代社会。不管是古代社会还是现代社会，都与人类的思想密切相关。人类社会的真正改变是由思想的改变引导的，并且是由思想确立的原则塑造的。</p>
            <p>古代社会之为古代社会，就在于它是奠定在由古代思想确立的五大原则之上：一，目的论原则；二，善高于一切的原则；三，责任与服从优先的原则；四，统治的合法性来自人之外的超越者的原则；五，集体优先于个人的原则。这些原则都是通过兑换成责任原则得到贯彻与落实。所以，古代社会首先是以责任原则去规定人与人之间的关系，并借此构建人间秩序。</p>
            <p>“启蒙运动”通过对人类个体自由的深度自觉与系统论证，为现代社会确立起不同于古代社会原则的一系列基本原则：1.自由优先原则；2.个体先于集体原则；3.权利与责任并行原则；4.统治的合法性来自于被统治者的授权与认同的原则。这些原则可归结为权利原则，现代社会是以权利原则去构建人间秩序。</p>
            <p>这门课将通过讨论以下问题来展示上面这些主题内容：人类思想是如何为古代社会确立起那些构成其秩序基础的基本原则？如何放弃和改变这些古代原则？又如何确立起那些把人类带进现代社会的基本原则？人类个体为什么有责任？又为什么有权利？</p>
          </div>
        </li>
        <li class="teacher-intro">
          <div class="title">教师介绍</div>
          <div class="teacher-description">
            <p>如果对人类历史做一个大致的划分，那么它可被分为古代社会与现代社会。不管是古代社会还是现代社会，都与人类的思想密切相关。人类社会的真正改变是由思想的改变引导的，并且是由思想确立的原则塑造的。</p>
            <p>古代社会之为古代社会，就在于它是奠定在由古代思想确立的五大原则之上：一，目的论原则；二，善高于一切的原则；三，责任与服从优先的原则；四，统治的合法性来自人之外的超越者的原则；五，集体优先于个人的原则。这些原则都是通过兑换成责任原则得到贯彻与落实。所以，古代社会首先是以责任原则去规定人与人之间的关系，并借此构建人间秩序。</p>
            <p>“启蒙运动”通过对人类个体自由的深度自觉与系统论证，为现代社会确立起不同于古代社会原则的一系列基本原则：1.自由优先原则；2.个体先于集体原则；3.权利与责任并行原则；4.统治的合法性来自于被统治者的授权与认同的原则。这些原则可归结为权利原则，现代社会是以权利原则去构建人间秩序。</p>
            <p>这门课将通过讨论以下问题来展示上面这些主题内容：人类思想是如何为古代社会确立起那些构成其秩序基础的基本原则？如何放弃和改变这些古代原则？又如何确立起那些把人类带进现代社会的基本原则？人类个体为什么有责任？又为什么有权利？</p>
          </div>
        </li>
        <li class="module-index">
          <div class="title">课程目录</div>
          <div class="index-con">
            <p>第一课时 课时名称课时名称</p>
            <p>第二课时 课时名称课时名称</p>
            <p>第三课时 课时名称课时名称</p>
            <p>第四课时 课时名称课时名称</p>
          </div>
        </li>
      </ul>
      <div class="r-ad-wrap">
        <div class="adapted-textbook">
          <div class="title">选用的教材</div>
          <ul class="textbook-info">
            <li>
              <a href="#">
                <img src="../../assets/image/module-detail-adimg.png" alt="">
                <div class="module-name">平面解析几何方法与研究第一卷平面解析几何</div>
              </a>
            </li>

          </ul>
        </div>
        <div class="revelant-module">
          <div class="title">相关课程
            <a href="#" class="more">more...</a>
          </div>
          <ul class="relevant-module-list">
            <li>
              <a href="#">
                <img src="../../assets/image/module-detail-adimg.png" alt="">
                <div class="module-name">课程名称课程名称课程名称课程名称课程名称</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../assets/image/module-detail-adimg.png" alt="">
                <div class="module-name">课程名称课程名称课程名称课程名称课程名称</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      Copyrignt © 2004-2016 哈尔滨工业大学出版社 版权所有 京ICP备11017824号-7
    </div>
  </div>

  <script src="../../lib/require.js" data-main="../../js/Controller/student/moduleDetail.js"></script>
</body>

</html>
