<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/font/font_5cho1wkdqgy/iconfont.css">
  <link rel="stylesheet" href="../../lib/simplePagination.css">
  <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
  <div class="myStudy" student>
    <div class="header-wrap"></div>
    <div class="module-status-wrap">
      <div class="module-status">
        <span class="is-taking cur">开课中</span>
        <span class="finished">已完结</span>
      </div>
      <div class="confirm-status">完成</div>
    </div>
    <ul class="my-module-list">
      <li>
        <a href="http://localhost:30000/view/student/moduleDetail.html" class="module-cover">
          <img src="../../assets/image/bookCover.png" alt="">
        </a>
        <div class="module-desc">
          <div class="module-name">
            <a href="http://localhost:30000/view/student/moduleDetail.html">电力电子技术基础课程</a>
          </div>
          <div class="other-info">
            <div class="name-value teacher">
              <span class="name">任课教师</span>
              <span class="value">张三 东南大学</span>
            </div>
            <div class="name-value invite-code">
              <span class="name">邀请码</span>
              <span class="value">000293099</span>
            </div>
            <div class="name-value due-date">
              <span class="name">截止时间</span>
              <span class="value">2017.09.10</span>
            </div>
            <div class="name-value res-num">
              <i class="name icon iconfont  icon-zhanghaoicon"></i>
              <span class="value">200</span>
            </div>
          </div>
          <div class="cancel-res">
            取消报名
          </div>
        </div>
      </li>
      <li>
        <a href="http://localhost:30000/view/student/moduleDetail.html" class="module-cover">
          <img src="../../assets/image/bookCover.png" alt="">
        </a>
        <div class="module-desc">
          <div class="module-name">
            <a href="http://localhost:30000/view/student/moduleDetail.html">电力电子技术基础课程</a>
          </div>
          <div class="other-info">
            <div class="name-value teacher">
              <span class="name">任课教师</span>
              <span class="value">张三 东南大学</span>
            </div>
            <div class="name-value invite-code">
              <span class="name">邀请码</span>
              <span class="value">000293099</span>
            </div>
            <div class="name-value due-date">
              <span class="name">截止时间</span>
              <span class="value">2017.09.10</span>
            </div>
            <div class="name-value res-num">
              <i class="name icon iconfont  icon-zhanghaoicon"></i>
              <span>200</span>
            </div>
          </div>
          <div class="cancel-res">
            取消报名
          </div>
        </div>
      </li>
      <li>
        <a href="http://localhost:30000/view/student/moduleDetail.html" class="module-cover">
          <img src="../../assets/image/bookCover.png" alt="">
        </a>
        <div class="module-desc">
          <div class="module-name">
            <a href="http://localhost:30000/view/student/moduleDetail.html">电力电子技术基础课程</a>
          </div>
          <div class="other-info">
            <div class="name-value teacher">
              <span class="name">任课教师</span>
              <span class="value">张三 东南大学</span>
            </div>
            <div class="name-value invite-code">
              <span class="name">邀请码</span>
              <span class="value">000293099</span>
            </div>
            <div class="name-value due-date">
              <span class="name">截止时间</span>
              <span class="value">2017.09.10</span>
            </div>
            <div class="name-value res-num">
              <i class="name icon iconfont  icon-zhanghaoicon"></i>
              <span>200</span>
            </div>
          </div>
          <div class="cancel-res">
            取消报名
          </div>
        </div>
      </li>
    </ul>
    <div class="pagination-wrap">
      <div class="total-module">
        共
        <span class="total-module-num">100</span>个课程
      </div>
      <div class="pagination"></div>
    </div>
    <div class="footer">
      Copyrignt © 2004-2016 哈尔滨工业大学出版社 版权所有 京ICP备11017824号-7
    </div>
  </div>

  <script src="../../lib/require.js" data-main="../../js/Controller/student/myStudy.js"></script>
</body>

</html>
