<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/font/font_5cho1wkdqgy/iconfont.css">
  <link rel="stylesheet" href="../../lib/simplePagination.css">
  <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
  <div class="textbook" student>
    <div class="header-wrap"></div>

    <div class="module-nav">
      <ul class="nav-list">
        <li>
          <a href="http://localhost:30000/view/student/index.html">首页</a>
        </li>
        <li class="sep">></li>
        <li>
          <a href="http://localhost:30000/view/student/module.html">课程</a>
        </li>
        <li class="sep">></li>
        <li>
          <a href="#">编程语言</a>
        </li>
        <li class="sep">></li>
        <li class="cur-position">
          <a href="#">JAVA</a>
        </li>
      </ul>
    </div>

    <div class="module-main-wrap">
      <div class="module-main-con">
        <ul class="dropdown-menu">
          <li class="first-cate">
            <div class="first-cate-title">
              <span class="fold-symbol">+</span>
              <span class="title">编程语言</span>
            </div>
            <ul class="subcate-list">
              <li class="subcate">JAVA</li>
              <li class="subcate">JAVASCRIPT</li>
              <li class="subcate">PYTHON</li>
            </ul>
          </li>
          <li class="first-cate">
            <div class="first-cate-title">
              <span class="fold-symbol">+</span>
              <span class="title">综艺</span>
            </div>
            <ul class="subcate-list">
              <li class="subcate">明星大侦探</li>
              <li class="subcate">RUNNING MAN</li>
              <li class="subcate">美秋里</li>
            </ul>
          </li>
          <li class="first-cate">
            <div class="first-cate-title">
              <span class="fold-symbol">+</span>
              <span class="title">电影</span>
            </div>
            <ul class="subcate-list">
              <li class="subcate">ONE DAY</li>
              <li class="subcate">ATONEMENT</li>
              <li class="subcate">INCEPTION</li>
            </ul>
          </li>
          <li class="first-cate">
            <div class="first-cate-title">
              <span class="fold-symbol">+</span>
              <span class="title">音乐</span>
            </div>
            <ul class="subcate-list">
              <li class="subcate">I'M SO TIRED</li>
              <li class="subcate">LUCKY STRIKE</li>
              <li class="subcate">7 RINGS</li>
            </ul>
          </li>
        </ul>
        <div class="textbook-list-wrap ">
          <div class="page-nav">
            <div class="total-module">
              共
              <span class="total-module-num">100</span>个课程
            </div>
            <div class="simple-pager">
              <span class="previous-page">
                <</span>
                  <!--
              -->
                  <span class="cur-page">1</span>
                  <!--
              -->
                  <span class="sep">/</span>
                  <!--
              -->
                  <span class="total-page">10</span>
                  <!--
              -->
                  <span class="next-page">></span>
            </div>
          </div>
          <div class="textbook-list-maincon">
            <ul class="textbook-list">
              <li>
                <a href="#">
                  <img src="../../assets/image/bookCover.png" alt="">
                  <div class="textbook-des">
                    <div class="book-name">数学解题泄天机</div>
                    <div class="book-author">杨飞，陈荣著</div>
                    <div class="book-price">￥20.00/年</div>
                    <div class="book-intro">《平面解析几何方法与研究（第1卷）》一书全面系统地介绍了欧氏平面解析几何的有关重要内容，是作者参考了多种有关论著并结合自己的教学经验整理而成的。《平面解析几何方法与研究（第1卷）》</div>
                    <div class="purchase-num-wrap">
                      <i class="icon iconfont icon-zhanghaoicon"></i>
                      <span class="purchase-num">200</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/image/bookCover.png" alt="">
                  <div class="textbook-des">
                    <div class="book-name">数学解题泄天机</div>
                    <div class="book-author">杨飞，陈荣著</div>
                    <div class="book-price">￥20.00/年</div>
                    <div class="book-intro">《平面解析几何方法与研究（第1卷）》一书全面系统地介绍了欧氏平面解析几何的有关重要内容，是作者参考了多种有关论著并结合自己的教学经验整理而成的。《平面解析几何方法与研究（第1卷）》</div>
                    <div class="purchase-num-wrap">
                      <i class="icon iconfont icon-zhanghaoicon"></i>
                      <span class="purchase-num">200</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/image/bookCover.png" alt="">
                  <div class="textbook-des">
                    <div class="book-name">数学解题泄天机</div>
                    <div class="book-author">杨飞，陈荣著</div>
                    <div class="book-price">￥20.00/年</div>
                    <div class="book-intro">《平面解析几何方法与研究（第1卷）》一书全面系统地介绍了欧氏平面解析几何的有关重要内容，是作者参考了多种有关论著并结合自己的教学经验整理而成的。《平面解析几何方法与研究（第1卷）》</div>
                    <div class="purchase-num-wrap">
                      <i class="icon iconfont icon-zhanghaoicon"></i>
                      <span class="purchase-num">200</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/image/bookCover.png" alt="">
                  <div class="textbook-des">
                    <div class="book-name">数学解题泄天机</div>
                    <div class="book-author">杨飞，陈荣著</div>
                    <div class="book-price">￥20.00/年</div>
                    <div class="book-intro">《平面解析几何方法与研究（第1卷）》一书全面系统地介绍了欧氏平面解析几何的有关重要内容，是作者参考了多种有关论著并结合自己的教学经验整理而成的。《平面解析几何方法与研究（第1卷）》</div>
                    <div class="purchase-num-wrap">
                      <i class="icon iconfont icon-zhanghaoicon"></i>
                      <span class="purchase-num">200</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/image/bookCover.png" alt="">
                  <div class="textbook-des">
                    <div class="book-name">数学解题泄天机</div>
                    <div class="book-author">杨飞，陈荣著</div>
                    <div class="book-price">￥20.00/年</div>
                    <div class="book-intro">《平面解析几何方法与研究（第1卷）》一书全面系统地介绍了欧氏平面解析几何的有关重要内容，是作者参考了多种有关论著并结合自己的教学经验整理而成的。《平面解析几何方法与研究（第1卷）》</div>
                    <div class="purchase-num-wrap">
                      <i class="icon iconfont icon-zhanghaoicon"></i>
                      <span class="purchase-num">200</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/image/bookCover.png" alt="">
                  <div class="textbook-des">
                    <div class="book-name">数学解题泄天机</div>
                    <div class="book-author">杨飞，陈荣著</div>
                    <div class="book-price">￥20.00/年</div>
                    <div class="book-intro">《平面解析几何方法与研究（第1卷）》一书全面系统地介绍了欧氏平面解析几何的有关重要内容，是作者参考了多种有关论著并结合自己的教学经验整理而成的。《平面解析几何方法与研究（第1卷）》</div>
                    <div class="purchase-num-wrap">
                      <i class="icon iconfont icon-zhanghaoicon"></i>
                      <span class="purchase-num">200</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="pagination-wrap">
            <div class="total-module">
              共<span class="total-module-num">100</span>个课程
            </div>
            <div class="pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      Copyrignt © 2004-2016 哈尔滨工业大学出版社 版权所有 京ICP备11017824号-7
    </div>
  </div>
  <script src="../../lib/require.js" data-main="../../js/Controller/student/textbook.js"></script>
</body>

</html>
