.easyui-accordion{
  .panel{
    margin-bottom: 0;
  }
  li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    a{
      color: #1a1a1a;
    }
  }
}

.layout-panel-south{
  .panel-body{
    text-align: center;
    line-height: 65px;
  }
}
