$dropListBorderColor: #e5e5e5;
$moduleListBorderColor: #e8e8e8;
$highlightColor: #3598db;
$moduleDetailMainFontColor: #666666;
$moduleDetailTitleColor: #1a1a1a;
@mixin topHeaderDropList() {
    display: none;
    width: 125px;
    background-color: #ffffff;
    border: 1px solid $dropListBorderColor;
    border-bottom: none;
    position: absolute;
    top: 45px;
    left: 0;
    li {
        height: 40px;
        line-height: 40px;
        width: 105px;
        padding-left: 20px;
        border-bottom: 1px solid $dropListBorderColor;
        a {
            color: #6e6e6e;
        }
        &:hover {
            background-color: #e3e3e3;
        }
    }
    &::before {
        content: '';
        width: 0;
        height: 0;
        display: block;
        border-bottom: 13px solid $dropListBorderColor;
        border-top: 13px solid transparent;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        position: absolute;
        top: -26px;
        right: 20px;
    }
    &::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        border-bottom: 13px solid #fff;
        border-top: 13px solid transparent;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        position: absolute;
        top: -25px;
        right: 20px;
    }
}

@mixin modulePrevNextBtn($backgroundColor: #fff){
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: $backgroundColor;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}
